Source: mkos-udoo
Section: devel
Priority: extra
Maintainer: Bill Gatliff <bgat@billgatliff.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Vcs-Git: https://github.com/bgat/mkos-udoo.git
Vcs-Browser: https://github.com/bgat/mkos-udoo.git

# TODO: mkos-mlo-common isn't the right tool; we'll just
#       steal the ptux.tgz from it for now

Package: mkos-udoo
Architecture: all
Depends: mkos-mlo-common ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
